@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* :root {
  --main-bg: #f6f7f9;
  --light-bg: #ffffff;
  --white-bg: #ffffff;
  --accent-bg: #f6cd00;
  --accent-bg-effect: #d19c00;

  --primary-text: #354483;
  --secondary-text: #354483;
  --light-text: #ffffff;
  --strong-dark-text: #000000;
  --accent-text: #f6cd00;
}

.dark {
  --main-bg: #354483;
  --light-bg: #f6f7f9;
  --white-bg: #ffffff;
  --accent-bg: #f6cd00;
  --accent-bg-effect: #d19c00;

  --primary-text: #f6f7f9;
  --secondary-text: #354483;
  --light-text: #ffffff;
  --strong-dark-text: #000000;
  --accent-text: #f6cd00;
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: serif;

  @apply bg-mainBg font-nunito text-primaryText;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.section {
  @apply py-10 md:py-12 xl:py-14 2xl:py-16;
}
